*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  body {
    background-image: url('travel.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.main{
    padding-left:13%;
    padding-top:10%;
    color:rgb(150, 5, 150);
}

.aboutus{
    padding-left:8%;
    padding-top:4%;
    color:rgb(150, 5, 150);
}

.Undercaps {
    padding-left:13%;
    color:rgb(150, 5, 150);
}

.aboutusundercaps {
    padding-left:5%;
    color:rgb(150, 5, 150);
}

.bookbtn{
    background-color: black;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    position:absolute;
    left:13%;
    font-weight:bold;
    border:none;
}

.bookbtn:hover{
    filter:brightness(150%);
}