*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  body {
    background-image: url('travel.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

body h1{
    padding-left:13%;
    padding-top:10%;
    color:rgb(200, 10, 200);

}