*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  body {
    background-image: url('travel.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.main{
    padding-left:13%;
    padding-top:10%;
    color:rgb(150, 5, 150);
}

.aboutus{
    padding-left:8%;
    padding-top:4%;
    color:rgb(150, 5, 150);
}

.Undercaps {
    padding-left:13%;
    color:rgb(150, 5, 150);
}

.aboutusundercaps {
    padding-left:5%;
    color:rgb(150, 5, 150);
}

.bookbtn{
    background-color: black;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    position:absolute;
    left:13%;
    font-weight:bold;
    border:none;
}

.bookbtn:hover{
    filter:brightness(150%);
}

.all_ourteam {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    color:white;
  }

.ourteam {
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .ourtea {
    display: block;
    text-align: left;
    margin: 10px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    color:rgb(150, 5, 150);
    position:relative;
    left:30px;
}
  
  .ourteam h6 {
    align-items: center;
    font-size: 16px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 
  
  .ourteam p {
    align-items: center;
    font-size: 10px;
    margin-block-start: 5px;
    margin-block-end: 5px;
  }

  .ourteam a {
    align-items: center;
    font-size: 14px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    display: block;
    width: 115px;
    height: 25px;
    background: rgb(60,60,255);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    /*padding-left:60px;*/
    position:relative;
    left:30px;
}